:root {
    --accent-color: #2947A9;

    --text-font: "Work Sans", "Arial", sans-serif;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    color: #000;
}

*:focus {
    outline: 2px dotted var(--accent-color);
    outline-offset: 3px;
}

/*HEADER*/
.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #fff;
}

.site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    transition: opacity 0.4s ease;
    text-decoration: none;
    display: block;
}

.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.6;
}

.site-header-actions {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.site-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 50px 0 0;
}

.site-header li {
    margin-right: 50px;
}

.site-header li:last-child {
    margin-right: 0;
}

.site-nav-link {
    text-decoration: none;
    color: #14171F;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.site-nav-link:hover {
    color: var(--accent-color);
}

.site-nav-link:active {
    opacity: 0.6;
}

.site-nav-contact {
    text-decoration: none;
    font-weight: 600;
    color: #F9995D;
    transition: opacity 0.4s ease;
}

.site-nav-contact:hover {
    opacity: 0.8;
}

.site-nav-contact:active {
    opacity: 0.6;
}

/*HERO*/
.hero {
    background-image: url("../img/Hero.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
}

.hero h1 {
    font-weight: 600;
    font-size: 72px;
    width: 556px;
    margin: 0;
    padding-top: 239px;
}

.hero-feature {
    width: 416px;
    height: 190px;
    margin-left: 1024px;
    padding-top: -456px;
    background-color: #3559C7;
    border-radius: 2px 2px 0 0;
    color: white;
}

.hero-feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.hero-feature-content h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 20px 0;
    width: 163px;
}

.hero-feature-content p {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 26px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #292E3D;
}

.back-next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding-left: 65px;
    padding-right: 65px;
}

.back {
    margin-left: 10px;
}

.next {
    margin-right: 10px;
}

.back-button {
    border-right: 0.5px solid white;
}

.next-button {
    border-left: 0.5px solid white;
}

/*REASONS*/

.reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 84px;
}

.reasons h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #292E3D;
    padding: 0;
    margin: 0 0 50px;
}

.reasons ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 77px;
    height: 197px;
}

.reason-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 40px;
    gap: 18px;
    width: 292px;
    border: 1.4px solid #E0E3EB;
    box-shadow: 0 0 16px -4px rgba(17, 24, 39, 0.1);
    border-radius: 4px;
}

.reason-item img {
    width: 40px;
    height: 40px;
}

.reason-item h5 {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3D445C;
}

.reason-item p {
    margin: 0;
    width: 254px;
    height: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #858EAD;
}

/*ABOUT US*/
.about-us {
    position: relative;
    height: 669px;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 200px;
}

.about-us img {
    position: absolute;
    box-shadow: 0 20px 24px -4px rgba(17, 24, 39, 0.1), 0 8px 8px -4px rgba(17, 24, 39, 0.04);
    border-radius: 2px;
    margin: 0 0 0 80px;
}

.about-us-content {
    position: absolute;
    width: 488px;
    height: 523px;
    background-color: #2947A9;
    left: 840px;
    top: 147px;
    box-shadow: 0 20px 24px -4px rgba(17, 24, 39, 0.1), 0 8px 8px -4px rgba(17, 24, 39, 0.04);
    border-radius: 2px;
    color: white;
}

.about-us-content h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin: 50px 0 37px 40px;
    width: 159px;
}

.about-us-content p {
    width: 388px;
    margin: 0 60px 74px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.about-us-content a {
    border: 2px solid #2947A9;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 16px 20px;
    text-decoration: none;
    color: #2947A9;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 179px;
    height: 21px;
    margin-left: 40px;
    margin-bottom: 60px;
}

/*SERVICES*/

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F8F7;
    padding-top: 44px;
    padding-bottom: 76px;
}

.services h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #292E3D;
    padding: 0;
    margin: 0 0 50px;
}

.services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    row-gap: 48px;
    column-gap: 98px;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 271px;
    height: 181px;
    gap: 20px;
    box-shadow: 0 0 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
}

.service-item hr {
    margin: 0;
    width: 60px;
    height: 2px;
    border: none;
    background: #E0E3EB;
}

.service-item h6 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.service-item:nth-child(1n) {
    background-color: white;
}

.service-item:nth-child(1n) h6 {
    color: #2947A9;
}

.service-item:nth-child(2n) {
    background-color: #2947A9;
}

.service-item:nth-child(2n) h6 {
    color: white;
}

/*STATS*/

.stats {
    height: 723px;
    width: 100%;
    position: relative;
}

.stats ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stat div {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 12px 16px -4px rgba(17, 24, 39, 0.1), 0 4px 6px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;
    padding-bottom: 30px;
}

.stat h1 {
    padding: 0;
    font-weight: 600;
    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: flex-end;
    color: #292E3D;
    margin: 30px 135px 2px 30px;
    width: 115px;
    height: 65px;
}

.stat p {
    padding: 0 0 0 12px;
    margin: 0 0 0 46px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #667299;
    border-left: 5.12px solid #F9995D;
}

.stat-1 div {
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 280px;
    height: 155px;
    left: 512px;
    top: 122px;
}

.stat-1 img {
    position: absolute;
    width: 97px;
    height: 97px;
    left: 723px;
    top: 103px;
    z-index: 2;
}

.stat-2 div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 361px;
    height: 155px;
    left: 212px;
    top: 221px;
}

.stat-2 img {
    position: absolute;
    width: 79px;
    height: 79px;
    left: 179px;
    top: 172px;
    z-index: 2;
}

.stat-3 div {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 276px;
    height: 155px;
    left: 458px;
    top: 364px;
}

.stat-3 img {
    position: absolute;
    width: 93px;
    height: 93px;
    left: 662px;
    top: 349px;
    z-index: 2;
}

.stat-4 div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 333px;
    height: 155px;
    left: 261px;
    top: 469px;
}

.stat-4 img {
    position: absolute;
    width: 84px;
    height: 84px;
    left: 549px;
    top: 582px;
    z-index: 2;
}

.stat-content {
    position: absolute;
    top: 172px;
    left: 944px;
    width: 359px;
}

.stat-content h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #2947A9;
    width: 359px;
    margin: 0 0 40px 0;
    padding: 0;
}

.stat-content p {
    width: 330px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #525B7A;
    padding: 0;
    margin: 0 0 51px 0;
}

.stat-content a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 53px;
    background: #2947A9;
    border-radius: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/*ADS*/

.ads {
    position: relative;
    background-image: url("../img/ads.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    margin: 0;
    padding: 100px 0 100px 0;
}

.ads h4 {
    margin: 0 0 30px 112px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.ads p {
    width: 396px;
    margin: 0 0 0 112px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.ads p > a {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.ads-contact {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 232px;
    height: 53px;
    right: 160px;
    top: 124px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
